/* Global Settings */

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Variables */

:root {
  /* colors */
  --primary-clr-0: #cfdbd5;
  --primary-clr-50: #e8eddf;
  --primary-clr-100: #f5cb5c;
  --primary-clr-150: #333533;
  --primary-clr-200: #242423;

  /* grays */
  --secondary-clr-250: #c4c4c4;

  /* transition */
  --transition: all 0.7s ease-in-out 0.2s;
  --hover-transition: all 250ms ease-in-out;
  --hovercard-boxshadow:  0px 5px 14px rgba(51, 53, 51, 0.65);
  --hovercard-default:  0px 4px 9px rgba(51, 53, 51, 0.45);

  /* global padding values */
  /* USED ONLY FOR RIGHT AND LEFT PADDING */
  --padding-mobile: 10vw;
  --padding-tablet: 5vw;
  --padding-desktop: 10vw;

  /* global image card values */
  --imagecard-border-clr: 0.125rem solid var(--primary-clr-200);
  --imagecard-border-radius: calc(2rem + 0.125rem);

  /* border radius */
  --border-rad-mobile: 2.5em;
  --border-rad-tablet: 4em;
  --border-rad-desktop: 4em;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  background-color: #cfdbd5;
  overflow-y: scroll;
}

h1 {
  font-family: "Lora", serif;
  text-decoration: underline;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--primary-clr-200);
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.15rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.05rem;
}

a,
p,
h2,
h3,
h4,
h5 {
  font-family: "Ubuntu", sans-serif;
  color: var(--primary-clr-200);
}

input {
  font-family: "Ubuntu", sans-serif;
}

/* modal styling */
.c-browsemap__listoftranscripts > .c-browsemap__transcript {
  margin: 1vh 0vw;
}

/* tablet displays wide 992px */
@media (min-width: 992px) {
  h1 {
    font-size: 2.5rem;
  }
}

/* desktop displays 1280px wide */

@media (min-width: 1280px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1.125rem;
  }

  p {
    font-size: 1rem;
  }
}

/* 4k dispalys 2550px wide */

@media (min-width: 2560px) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  p {
    font-size: 1.125rem;
  }
}

.bg--std {
  background-color: var(--primary-clr-0);
}
.bg--light {
  background-color: var(--primary-clr-100);
}
.bg--gray {
  background-color: var(--secondary-clr-250);
}
